1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a=15
print(a)

15

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [4]:
mi_nombre="Maximiliano"

5) Crear una variable que contenga un número complejo

In [5]:
b=3j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
type(b)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [7]:
c=3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo? NO ES LO MISMO YA QUE UNO ES CADENA Y EL OTRO ES BOLEANO

In [8]:
d="True"
e=True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [9]:
print(type(d))
print(type(e))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [10]:
f=4+5.5

11) Realizar una operación de suma de números complejos

In [11]:
2j+5j

7j

12) Realizar una operación de suma de un número real y otro complejo

In [12]:
9+1j

(9+1j)

13) Realizar una operación de multiplicación

In [13]:
3*5

15

14) Mostrar el resultado de elevar 2 a la octava potencia

In [14]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [15]:
g=27/4
print(g)

6.75

16) De la división anterior solamente mostrar la parte entera

In [16]:
h=27//4
print(h)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [17]:
i=27%4
print(i)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [18]:
4*h+i

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [19]:
j="Hola "
k="Mundo"
print(j+k)

Hola Mundo

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso? PORQUE UNO ES CADENA Y EL OTRO ES ENTERO

In [20]:
l="2"
m=2
l==m

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [21]:
l=int(l)

In [22]:
l==m

True


22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8') PORQUE EL FLOTANTE SOLO VA CON PUNTO Y NO CON COMA

In [25]:
n=float("3,8")

ValueError: could not convert string to float: '3,8'

In [24]:
n=float("3.8")

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [ ]:
ñ=3
ñ-=1
print(ñ)

2


24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario? ESTUDIAR

In [ ]:
1<<2

4


25) Realizar la operación 2 + '2' ¿Por qué no está permitido? PORQUE ES UN ENTERO Y UNA CADENA ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado? NO, DARIAN DIFERENTES RESULTADOS

In [ ]:
2+"2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
2+2

4

In [ ]:
"2"+"2"

'22'

26) Realizar una operación válida entre valores de tipo entero y string

In [ ]:
o="Paraná "
p=6
print(o*6)
print(o+"se repite "+str(p)+" veces")

Paraná Paraná Paraná Paraná Paraná Paraná
Paraná se repite 6 veces