In [1]:
print('algo')

algo

#1.	Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [2]:
a = 12
print(a)

12

#2.	Imprimir el tipo de dato de la constante 8.5

In [25]:
type(8.5)

float

#3.	Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
type(a)

int

In [5]:
print(type(a))

<class 'int'>

#4.	Crear una variable que contenga tu nombre

In [7]:
mi_nombre = "Maximiliano Andres Perez"

#5.	Crear una variable que contenga un número complejo

In [30]:
b = 3 + 8j

In [9]:
type(b)

complex

#6.	Mostrar el tipo de dato de la variable creada en el punto 5

In [10]:
type(b)

complex

#7.	Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [12]:
c = 3.1416

#8.	Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo? NO SON LO MISMO

In [13]:
d = True
e = "True"

#9.	Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [18]:
print(type(d))

<class 'bool'>

In [19]:
print(type(e))

<class 'str'>

#10.	Asignar a una variable, la suma de un número entero y otro decimal

In [20]:
f = 12+2.5

#11.	Realizar una operación de suma de números complejos

In [21]:
g = 2+1j
h=3+2j
print(g+h)

(5+3j)

#12.	Realizar una operación de suma de un número real y otro complejo

In [23]:
i=h+1.7
print(i)

(4.7+2j)

#13.	Realizar una operación de multiplicación

In [24]:
j=3*4

#14.	Mostrar el resultado de elevar 2 a la octava potencia

In [32]:
k=2**8
print(k)

256

#15.	Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [33]:
l=27/4
print(l)

6.75

#16.	De la división anterior solamente mostrar la parte entera

In [34]:
m=27//4
print(m)

6

#17.	De la división de 27 entre 4 mostrar solamente el resto

In [35]:
n=27%4
print(n)

3

#18.	Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [37]:
ñ=4*m+n
print(ñ)

27

#19.	Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [39]:
o="Hola "
p="Mundo"
print(o+p)

Hola Mundo

#20.	Evaluar si "2" es igual a 2. ¿Por qué ocurre eso? PORQUE ES UNA CADENA Y UN ENTERO

In [41]:
q="2"
r=2
print(q==r)

False

#21.	Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [42]:
q=int(q)
print(type(q))

<class 'int'>

In [43]:
q==r

True

#22.	¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8') PORQUE TIENE UNA COMA Y PARA QUE SEA DECIMAL DEBE LLEVAR PUNTO

#23.	Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [49]:
s=3

In [52]:
s=s-1

In [53]:
s

2

#24.	Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [54]:
1<<2

4

#25.	Realizar la operación 2 + '2' ¿Por qué no está permitido? PORQUE SE ESTÁ QUERIENDO SUMAR UNA CADENA Y UN NUMERO ENTERO ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado? NO, EL RESULTADO VA A DEPENDER SI AMBOS QUEDAN O COMO CADENA O COMO NUMERO ENTERO

In [55]:
t=2+"2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

#26.	Realizar una operación válida entre valores de tipo entero y string

In [1]:
u="Paraná "
v=5
print(u*6)
print(u+"se repite "+str(v)+" veces")

Paraná Paraná Paraná Paraná Paraná
Paraná se repite 5 veces